html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}


/* =========================================
                Preloader
============================================ */

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("/static/img/preloader/loader.gif");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -85px;
}
/* =========================================
                Buttons
============================================ */
.btn-yellow {
    color: #fff;
    border: 1px solid lawngreen;
    background-color:lawngreen;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: darkgreen;
}

#back-to-top {
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 22px;
}


/* =========================================
                Navigation
============================================ */

#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.navbar{
    padding: 0;
    background-color: #fff;
}

.white-nav-top {
    background-image: url("/static/img/navbar.jpg");
   background-repeat: no-repeat;
    background-position: center;
     width: 100%;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px lawngreen;
    z-index: 2;
}

.white-nav-top ul > li >a {
    color: lawngreen;
}

.white-nav-top ul.navbar-nav>li>a:hover,
.white-nav-top ul.navbar-nav>li>a:focus {
    color: green;
}

.navbar-brand img{
    height: 130px;
    width: 140px;
    border-radius: 85px;
}


.navbar ul{
    margin: 0 40px;
}
.navbar ul>li{
    margin: 0 20px;
}


.nav li>a:hover{
    color: lawngreen;
}

.fix-item{
    width: 110px;
    height: 110px;
}

.circle{
    background-color: #fff;
    text-align: center;
     width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 60px;
    border: 2px solid darkgreen;
    background-color: #c1d72e;
}

.circle:hover{
    background-color: #fff;
    text-align: center;
     width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 60px;
    border: 2px solid darkgreen;
    background-color: #a5cf39;
}

.circle h5{
    margin-top: 10px;
    color: #2d2c6c;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

.circle:hover h5{
    color: #2d2c6c;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

.fa-thumbs-up{
    padding-top: 9px;
    color: darkgreen;
    font-size: 50px;
}

.fa-glass,
.fa-rocket,
.fa-pencil{
    padding-top: 12px;
    color: darkgreen;
    font-size: 48px;
}


/*====================================================
                        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*====================================================
                        HOME
======================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("/static/img/bg2.jpg");
}

/*====================================================
                        MISSION
======================================================*/

#mission{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #a5cf39;
    width: 100%;
    height: 70%;
    font-size: 55px;
}

.mission-container{
    padding-top: 10px;
    text-align: center;
    color: black;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.mission-container-heading span{
    font-family: 'Over the Rainbow', cursive;
}

.mission-container-context p{
    font-size: 20px;
    margin: 0 20%;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.mission-leaf{
    margin-top: 70px;
    background-color: #fff;
    width: 550px;
    height: 250px;
    border-radius: 50%;
    border-color: 3px solid black;
}

.fa-leaf{
    margin-top: 40px;
    font-size: 180px;
}

/*====================================================
                        JUICES
======================================================*/

#juices{
    width: 100%;
    height: 1200px;
}

.juice-heading{
    margin-top: 15px;
}
#juices .container{
    height: inherit;
    text-align: center;
}
.juice-heading h3{
    font-family: 'Over the Rainbow', cursive;
    font-size: 70px;
    margin: 10px 12px;
}

.ch-grid {
	margin: 40px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
    height: inherit;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 180px;
	display: inline-block;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow:
		inset 0 0 0 1px darkgreen,
		0 1px 2px darkgreen;
	transition: all 0.4s ease-in-out;
}

.juice-name{
    text-align: left;
    font-size: 20px;
    margin: 12px 1px;
    font-weight: 400;
    font-family: 'Over the Rainbow', cursive;
}

.ch-img{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.ch-img-1 {
	background-image: url("/static/img/juices/logos/powerup.png");
}

.ch-img-2 {
	background-image: url("/static/img/juices/logos/golden.png");
}

.ch-img-3 {
	background-image: url("/static/img/juices/logos/fatburner.png");
}

.ch-img-4 {
	background-image: url("/static/img/juices/logos/drgreen.png");
}

.ch-img-5 {
	background-image: url("/static/img/juices/logos/summer.png");
}

.ch-img-6 {
	background-image: url("/static/img/juices/logos/protien.png");
}

.ch-info {
	position: absolute;
	background: transparent;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
    border: 2px solid darkgreen;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	padding: 15px 1px 0 1px;
	height: 140px;
    color: black;
    font-weight: 400;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info img{
    padding:0 10px;
  }


.ch-item:hover {
	box-shadow:
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}

 #juice-cover-1,
 #juice-cover-3,
 #juice-cover-4,
 #juice-cover-5,
 #juice-cover-6{
  display: none;
 height: 100%;
}

#juice-cover-1{
      background-image: url("/static/img/juices/powerup.jpg");
}

#juice-cover-2 {
    height: 100%;
    background-image: url("/static/img/juices/golden.jpg");
}


#juice-cover-3 {
    background-image: url("/static/img/juices/fatburner.jpg");
}

#juice-cover-4 {
    background-image: linear-gradient(0deg,rgba(255,255,255,0.2),rgba(255,255,255,0.2)),url("/static/img/juices/drgeenjpg.jpg");
}

#juice-cover-5 {
    background-image: linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url("/static/img/juices/watermelon.jpg");
}

#juice-cover-6 {
    background-image: linear-gradient(0deg,rgba(255,255,255,0.2),rgba(255,255,255,0.2)),url("/static/img/juices/protien.jpg");
}

.juice-info-container{
}

.juice-info{
    min-height: 500px;
    font-size: 26px;
    padding: 5% 17%;
    text-align: center;
   font-family: 'Encode Sans Expanded', sans-serif;
}

#juice-cover-1 h1{
    padding-top: 8%;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    padding-left: 10%;
}

#juice-cover-1 h1>span{
    font-size: 100px;
    font-family: 'Over the Rainbow', cursive;
}

#juice-cover-1 .text-rotate{
    text-align: left;
    padding-left: -2%;
    margin: 3%;
    transform: rotate(-10deg);
}

/*---Golden Glow-----*/

#juice-cover-2 h1,
#juice-cover-3 h1,
#juice-cover-4 h1,
#juice-cover-5 h1,
#juice-cover-6 h1{
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: black;
}

#juice-cover-2 h1>span{
   padding-left: -26%;
}

#juice-cover-2 .text-rotate,
#juice-cover-3 .text-rotate,
#juice-cover-4 .text-rotate,
#juice-cover-5 .text-rotate,
#juice-cover-6 .text-rotate
{
  margin: 0;
  padding-top: 10%;
  font-size: 100px;
  font-family: 'Over the Rainbow', cursive;
  text-align: left;
}

#juice-cover-2 .text-rotate{
    padding-left: 20%;
    transform: rotate(-7deg);
}


/*---Fat Burner-----*/

#juice-cover-3 h1{
      color: #fff;
}

#juice-cover-3 h1>span{
   padding-left: 18%;
}

#juice-cover-3 .text-rotate{
    padding-left: 16%;
    transform: rotate(-5deg);
}

/*---Docotor Green-----*/

#juice-cover-4 h1>span{
   padding-left: 18%;
}

#juice-cover-4 .text-rotate{
    padding-left: 16%;
    transform: rotate(-5deg);
}


/*---Summer electroShot-----*/


#juice-cover-5 h1>span{
   padding-left: 18%;
}

#juice-cover-5 .text-rotate{
    padding-left: 16%;
    transform: rotate(-5deg);
}

/*---God-father-----*/


#juice-cover-6 h1>span{
   padding-left: 18%;
}

#juice-cover-6 .text-rotate{
    padding-left: 16%;
    transform: rotate(-5deg);
}

/*juice info color schemes*/
#juice-cover-1  .juice-info,
#juice-cover-3  .juice-info{
    color: #fff;
    font-weight: 400;
}

#juice-cover-2  .juice-info,
#juice-cover-4  .juice-info,
#juice-cover-5  .juice-info,
#juice-cover-6  .juice-info{
    color: black;
    font-weight: 600;
}

/* =========================================
                Comment
============================================ */

#comment{
    width: 100%;
    height:80%;
    background-color: #fff;
    padding-top: 50px;
}

.comment-container{
    padding: 30px 0px;
    font-size: 55px;
    background-color: #a5cf39;
    text-align: center;
    color: black;
    font-family: 'Encode Sans Expanded', sans-serif;
}

#comment img{
    width: 200px;
    height: 250px;
    margin: 25px;
    margin-top: 25px;
}

.comment-comment{
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.comment-comment span{
    color: black;
    font-size: 38px;
    font-weight: 500;
    font-family: 'Over the Rainbow', cursive;
    margin-top: 20px;
}

.fa-quote-left,
.fa-quote-right
{
    font-size: 32px;
}

/* =========================================
                Why Greepro
============================================ */

#why {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 1300px;
}

#why-cover {
    height: 100%;
    background-image: url("/static/img/why_bg.jpg");
}

.why-pngs{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: 10px;
    margin-top: 40px;
}

.why-heading{
    margin-top: 20%;
    margin-left: 10%;
    color: darkgreen;
    font-size: 95px;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.why-heading span{
    font-size: 100px;
    font-weight: 400;
    margin: 2%;
    margin-left: -5%;
    display: block;
    font-family: 'Over the Rainbow', cursive;
    transform: rotate(-10deg);
}

.why-content{
    text-align: center;
    color: darkgreen;
    font-weight: 600;
    font-size: 24px;
    margin: 40px;
    margin-left: 10px;
}


/* =========================================
                Benifits
============================================ */

#benifits{
    padding: 20px 0;
    background-color: #a5cf39;
}

.benifits-heading{
    font-family: 'Encode Sans Expanded', sans-serif;
    padding: 30px 0;
    font-size: 12px;
    color: darkgreen;
    text-align: center;
}

.benifits-heading h1{
    font-size: 55px;
}

.benifits-heading span{
    font-family: 'Over the Rainbow', cursive;
    transform: rotate(-10deg);
}

.card-title{
    font-family: 'Encode Sans Expanded', sans-serif;
    color: darkgreen;
}

.card{
    margin:15px;
    text-align: center;
    box-shadow: 2px 8px 16px -7px darkgreen;
    height: 440px;
}

.card:hover{
    margin:5px;
    text-align: center;
    box-shadow: 2px 8px 16px -7px darkgreen;
    height: 450px;
}

.card:hover .card-img-top{
    width: 230px;
    height: 200px;
}

.benifits-heading{
    position:sticky;
    font-size: 23px;
}

.card-img-top{
    width: 200px;
    height: 180px;
}

.card-mid-img img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: -60px;
    border: 4px solid #fff;
}

/* =========================================
                Our Story
============================================ */

#story {
    height: auto;
}

#story-cover {
    height: auto;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../img/our_story/story.png");
}

#story-content {
    padding: 50px 0px;
    width: 100%;
    height: 100%;
    display: table;
}
#story-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#story-heading h1 {
    color: lawngreen;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    font-family: 'Over the Rainbow', cursive;
}


#story-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
    padding: 30px 100px;
    line-height: 2;
    font-family: 'Encode Sans Expanded', sans-serif;
}





/* =========================================
                Footer
============================================ */

footer {
    background: #212226;
    padding: 20px;
}

footer p {
    color: #fff;
    line-height: 20px;
    margin: 0;
}

footer p span {
    color: lawngreen;
}
